{% extends 'base.html' %}

{% load static %}

{% block titulo %} INICIO {% endblock %}
{% block subtitulo %} Avenger Checklister {% endblock %}

{% block Contenido %}

{% if request.user.is_authenticated %}
<a class="boton" href="{% url 'avenger-lista' %}">LISTA DE PASADAS</a>
<a class="boton" href="{% url 'historial' %}">ARCHIVO</a>
<a class="volver" href="{% url 'mensajes' %}">MENSAJE</a>

<a class="logout" href="{% url 'AVENGER-logout' %}">LOGOUT</a>
{% else %}
<a class="volver" href="{% url 'AVENGER-login' %}">LOGIN</a>
{% endif %}

{% endblock %}