<!DOCTYPE html>
<html>
<head>
    <title>255 METOP C</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Atencion de Pasada METOP-C con Antena YANTAI (Config 255)</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>Verificar que la pasada este cargada en el "List Activity" del PEC console</td>
                <td>{{form.a01ckb}}</td>
            </tr>
            <tr>
                <td>02</td>
                <td>VER</td>
                <td>En la antena YANTAI verificar que la ventana "Orbit Control Engine"
                    diga: "METOP-C" is remote selected</td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>En la antena YANTAI verificar que la ventana "Antenna Control System"
                    que "AUTO TRK" este seleccionado
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>                
            <tr>
                <td>04</td>
                <td>VER</td>
                <td>Verificar alrededor de 1 minuto 
                    antesde del AOS que este cargada la configuracion <b>ECL_IN_METOPC_V1</b>
                    y el nombre del archivo a ingestar con la fecha y nombre correcto 
                </td>
                <td>{{form.a04ckb}}</td>
            </tr>
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>Verificar desde el panel frontal del demodulador Quorum (ubicado en Rack 9)
                    que el mismo se encuentre configurado para METOP-B(METP)
                </td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>En YANTAI verificar el movimiento de la antena observando en la ventana
                    "Antenna Control System" que los valores visibles de azimut y elevacion
                    varien de manera secuencial
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td>07</td>
                <td>VER</td>
                <td>
                    Verificar desde el panel frontal del demodulador Quorum (ubicado en el rack 9)
                    que el mismo se encuentre enganchado (FR)
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>
                    Verificar en R-DEMKTSA02 que el modulo Frame Sync 2l este en verde.
                </td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>
                    Verificar que en el status del modulo Raw Achiver 2l
                    se incremente el contador
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td>VER</td>
                <td>Verificar que el equipo R-DEMKSTA02 carga la configuracion <b>default</b> </td>
                <td>{{form.a10ckb}}</td>
            </tr>
                        <tr>
                <td>11</td>
                <td>VER</td>
                <td>Verificar que la antena YANTAI se fue a stow</td>
                <td>{{form.a11ckb}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>