<!DOCTYPE html>
<html>
<head>
    <title>345 AQUA</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Atencion de Pasada AQUA con Antena de 3,6m SA (Config 341)</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <!--Fecha: <input type="date" name="fecha"/>--> <!--Fecha, Hora y operador deberian ser automaticas-->
        <!--Hora: <input tyoe="time" name="hora"/>-->
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>
                    Verificar que la pasada este cargada en el PEC
                </td>
                <td>{{form.a01ckb}}</td>
            </tr>                
            <tr>
                <td>02</td>
                <td>DO</td>
                <td>
                    Actualizar lista de TLE en antena 3,6 Scientific Atlanta
                </td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>
                    Verificar el preposicionamiento de la antena
                    de 3.6m SA
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>
            <tr>
                <td>04</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion del demodulador (<b>R-DEMKTSA02</b>)
                </td>
                <td>{{form.a04ckb}}</td>
            </tr>
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>
                    Verificar que la configuracion del DownConverter de Banda X (<b>R-DWCDTAB01</b>)
                    sea:<br>
                    Frecuencia: <b>2540.000 MHz</b><br>
                    Atenuacion: <b>10 dB</b>
                </td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>
                    Verificar la planificacion en los sistemas de ingestion
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td>07</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de la matriz <b>R-IFMTX01</b><br>
                    <li>IN: 06 - OUT: 07</li>
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>Verificar la configuracion de la matriz <b>R-ECLMTX02:</b><br>                    
                    <li>IN: 06 - OUT: 22</li>
                    <li>IN: 05 - OUT: 21</li>
                </td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>Verificar que en AOS se empiece a mover la antena y comience la recepcion de senal, mirar
                    analizador de espectro.
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>VER</td>
                <td>
                    Verificar que hay senal de banda X
                    en el analizador de espectro de la antena de 3.6m
                </td>
                <td>{{form.a10ckb}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>VER</td>
                <td>Verificar que el demodulador Kratos MMR2 este en lock</td>
                <td>{{form.a11ckb}}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>VER</td>
                <td>Verificar que los sistemas de ingestion esten en estado lock</td>
                <td>{{form.a12ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>            
            <tr>
                <td>13</td>
                <td>VER</td>
                <td>Verificar que la antena de 3,6SA se va a Stow</td>
                <td>{{form.a13ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>