<!DOCTYPE html>
<html>
<head>
    <title>SAOCOM 1B 411</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Pasada de SAOCOM 1B con antena de 5.4m (Config 411)</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>Verificar que la pasada este cargada en el "List Activity" del PEC console</td>
                <td>{{form.a01ckb}}</td>
            </tr>
            <tr>
                <td>02</td>
                <td>VER</td>
                <td>
                    Verificar que la pasada se encuentre cargada en la antena de 5.4m
                    (desde ViaControl Portal)
                </td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>
                    Verificar que el HPA de la antena de 5.4m se encuentra
                    encendido y sin fallas
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>
            <tr>
                <td>04</td>
                <td>TALK</td>
                <td>
                    ETC-MOC: Verificar los horarios de AOS y LOS
                </td>
                <td>{{form.a04ckb}}</td>
            </tr>           
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>
                    Notificar al MOC de SAOCOM que la antena esta
                    configurada y esperando la pasada
                </td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>
                    Verificar que la polaridad de transmision se RHCP
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td>07</td>
                <td>VER</td>
                <td>
                    Verificar la Matriz de Banda S (<b>R-SMTX03</b>):<br>
                    UpLink S Band:<br>
                    <li>IN: 05 - OUT: 02</li>
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>
                    Verificar la Matriz de Banda S (<b>R-SMTX01</b>):<br>
                    Dw RHCP S-Band:<br>
                    <li>IN: 03 - OUT: 07</li>
                    Dw LHCP S-Band:<br>
                    <li>IN: 07 - OUT: 08</li>
                </td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de los up converters de ViaSat en
                    antena de 5.4m:<br>
                    <li>Frecuncia: <b>2076.939 MHz</b></li>
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de los down converters de ViaSat en
                    antena de 5.4m:<br>
                    <li>Frecuncia: <b>2255.5 MHz</b></li>
                </td>
                <td>{{form.a10ckb}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de los down converters de Banda X:<br>
                    <li>X-Band LHC D/C: <b>8165.5 MHz</b></li>
                    <li>X-Band RHC D/C: <b>8165.5 MHz</b></li>
                </td>
                <td>{{form.a11ckb}}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>VER</td>
                <td>
                    Verificar la correcta configuracion de la Matriz <b>R-IFMTX02</b>:<br>
                    <b>A5.4 HDR SAOCOM LINK1:</b><br>
                    <li>IN: 01 - OUT: 05</li>
                    <b>A5.4 HDR SAOCOM LINK2:</b><br>
                    <li>IN: 01 - OUT: 07</li>
                </td>
                <td>{{form.a12ckb}}</td>
            </tr>             
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>13</td>
                <td>TALK</td>
                <td>
                    Verificar la recepcion de senal y notificar al MOC
                </td>
                <td>{{form.a13ckb}}</td>
            </tr>
            <tr>
                <td>14</td>
                <td>VER</td>
                <td>
                    Observar la recepcion de Banda X en el analizador de espectros
                    , e informar al MOC
                </td>
                <td>{{form.a14ckb}}</td>
            </tr>
            <tr>
                <td>15</td>
                <td>TALK</td>
                <td>
                    A lo 5 grados de elevacion en ascenso notificar al MOC
                </td>
                <td>{{form.a15ckb}}</td>
            </tr>
            <tr>
                <td>16</td>
                <td>TALK</td>
                <td>
                    Cuando la antena se acerque a los 5 grados de elevacion
                    descendente notificar
                </td>
                <td>{{form.a16ckb}}</td>
            </tr>
            <tr>
                <td>17</td>
                <td>TALK</td>
                <td>
                    Cuando la antena este cerca de LOS de la pasada notificar
                </td>
                <td>{{form.a17ckb}}</td>
            </tr>           
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>18</td>
                <td>VER</td>
                <td>
                    Verificar la generacion de reportes AMD y METEO
                </td>
                <td>{{form.a18ckb}}</td>
            </tr>
            <tr>
                <td>19</td>
                <td>VER</td>
                <td>
                    Verificar que la antena de 5.4m se va a stow
                </td>
                <td>{{form.a19ckb}}</td>
            </tr>            
            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>