<!DOCTYPE html>
<html>
<head>
    <title>715 SPOT 6</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Atencion de Pasada SPOT 6 con Antena de 13m (Config 715)</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>Verificar que la pasada este cargada en el "List Activity" del PEC console</td>
                <td>{{form.a01ckb}}</td>
            </tr>
            <tr>
                <td>02</td>
                <td>VER</td>
                <td>Verificar que la pasada se encuentre planificada en la antena de 13m</td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>Verificar en <i>Mission Control Software - Cortex</i> en equipo ubicado
                en rack 8 qu figure la pasada segun planificacion y que los horarios de inicio sean 
                similares.
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>                
            <tr>
                <td>04</td>
                <td>VER</td>
                <td>Verificar que se ejcuten correctamente las acividades del PEC</td>
                <td>{{form.a04ckb}}</td>
            </tr>
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>Verificar que la configuracion del Oscilador Local de la cadena 
                    de Ant 13m <b>(R-LODTR01)</b> sea:<br>
                Mixer 1: <b>8150</b><br>
                Mixer 2: <b>8150</b><br>
                </td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>Verificar que los demoduladores <b>R-DEMINSA03</b> y <b>R-DEMINSA04</b> se
                    configuren para la mision SPOT6                
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td>07</td>
                <td>VER</td>
                <td>Verificar el preposicionamiento de la antena de 13m en base a los parametros de la
                    planilla de planificacion
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>Verificar que la configuracion de la matriz <b>R-IFMTX02</b>
                    concuerde con lo planificado
                </td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>Verificar que en AOS se empiece a mover la antena y comience la recepcion de senal, mirar
                    analizador de espectro.
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>VER</td>
                <td>Verificar que en las variables de los demoduladores <b>R-DEMINSA03</b> y
                    <b>R-DEMINSA04</b> se pongan en verde</td>
                <td>{{form.a10ckb}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>VER</td>
                <td>Verificar la imagen en quicklook del sitema de ingestion SPOT
                </td>
                <td>{{form.a11ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>12</td>
                <td>VER</td>
                <td>Verificar que la antena se vaya a stow</td>
                <td>{{form.a12ckb}}</td>
            </tr>
                        <tr>
                <td>13</td>
                <td>DO</td>
                <td>Completar la hoja de ruta de la pasada</td>
                <td>{{form.a13ckb}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>