<!DOCTYPE html>
<html>
<head>
    <title>792 LANDSAT8</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Atencion de Pasada Landsat 8 con Antena de 13m (Config 792)</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>Verificar que la pasada este cargada en el "List Activity" del PEC console</td>
                <td>{{form.a01ckb}}</td>
            </tr>                
            <tr>
                <td>02</td>
                <td>VER</td>
                <td>Verificar que se ejcuten correctamente las acividades del PEC</td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>Verificar que la configuracion de <b>R-XDWNCIF01</b> sea:<br>
                Frecuencia Banda X: <b>8200.5</b><br>
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>
            <tr>
                <td>04</td>
                <td>VER</td>
                <td>Verificar la Matriz <b>R-IFMTX01</b> sea:<br>
                    <li>IN: 02 - OUT: 08</li>
                </td>
                <td>{{form.a04ckb}}</td>
            </tr>
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>Verificar que el demodulador <b>R-DEMKTSA01</b> este configurado para la mision <b>LANDSAT-8</b></td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>Verificar minutos antes del AOS que empiece la ingestion en <b>R-DEMKTSA01</b>
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>07</td>
                <td>VER</td>
                <td>Verificar que en AOS se empiece a mover la antena y comience la recepcion de senal, mirar
                    analizador de espectro.
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>Verificar en el demodulador <b>R-DEMKTSA01</b> el estado de lock en verde</td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>Verificar que <b>R-DEMKTSA01</b> comience a ingestar correctamente
                    y se generan archivos en la carpeta data/cfdp
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>10</td>
                <td>DO</td>
                <td>Realizar cambio de TILT en caso de ser ncesario</td>
                <td>{{form.a10ckb}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>VER</td>
                <td>Verificar que minutos despues del LOS se cargue la configuracion
                    default en <b>R-DEMKTSA01</b>
                </td>
                <td>{{form.a11ckb}}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>DO</td>
                <td>Completar la hoja de ruta de la pasada</td>
                <td>{{form.a12ckb}}</td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>