<!DOCTYPE html>
<html>
<head>
    <title>SAOCOM 1B ETTdf</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Pasada de SAOCOM 1B Antena de 7m ETTdf</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>Verificar que la pasada este cargada en la SCC de ViaSat</td>
                <td>{{form.a01ckb}}</td>
            </tr>
            <tr>
                <td>02</td>
                <td>VER</td>
                <td>
                    Verificar actualizacion del TLE
                </td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>
                    Verificar en SCC de antena de 7m que la configuracion
                    de la pasada sea: <br>
                    <b>21-SAOCOM-1B</b>
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>
            <tr>
                <td>04</td>
                <td>VER</td>
                <td>
                    Verificar que la polaridad de UpLink sea LHCP, "Transmit LHC"
                </td>
                <td>{{form.a04ckb}}</td>
            </tr>           
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de los receptores de tracking
                    en la antena de 7m<br>
                    <b>S-Band LHC Track y S-Band RHC Track:</b><br>
                    <b>Freq 2255.5 MHz</b>
                </td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>
                    Verificar que el receptor <b>X-Band Tracking</b>
                    en la SCC A7m tenga la configuracion:<br>
                    <b>8071.5 MHz</b>
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td>07</td>
                <td>DO</td>
                <td>
                    Notificar al MOC de SAOCOM que la antena esta configurada
                    y esperando la pasada.
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>
                    Verificar la <b>IF MATRIX</b> de la SCC de la A7m:<br>
                    <b>Up Link S-Band:</b><br>
                    <li>IN: 06 - OUT: 01</li>
                    <b>Dw RHCP S-Band:</b><br>
                    <li>IN: 04 - OUT: 09</li>
                    <b>Dw LHCP S-Band:</b><br>
                    <li>IN: 03 - OUT: 10</li>
                    <b>A7 BX LINK 1:</b><br>
                    <li>IN: 02 - OUT: 11</li>
                    <b>A7 BX LINK 2:</b><br>
                    <li>IN: 02 - OUT: 12</li>
                </td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion del up converter en la
                    SCC de 7m:<br>
                    <li>Frecuncia: <b>2076.939 MHz</b></li>
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion del down converter en
                    la SCC de 7m:<br>
                    <li>Frecuncia: <b>2255.5 MHz</b></li>
                </td>
                <td>{{form.a10ckb}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>VER</td>
                <td>
                    Verificar en los down converter de Banda X
                    de SCC A7m la configuracion:<br>
                    <li>X-Band LHC D/C: <b>8165.5 MHz</b></li>
                    <li>X-Band RHC D/C: <b>8165.5 MHz</b></li>
                </td>
                <td>{{form.a11ckb}}</td>
            </tr>                    
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>12</td>
                <td>TALK</td>
                <td>
                    Verificar la recepcion de telemetria y notificar al MOC
                </td>
                <td>{{form.a12ckb}}</td>
            </tr>
            <tr>
                <td>13</td>
                <td>VER</td>
                <td>
                    A lo 5 grados de elevacion en ascenso notificar al MOC
                </td>
                <td>{{form.a13ckb}}</td>
            </tr>
            <tr>
                <td>14</td>
                <td>TALK</td>
                <td>                    
                    Observar la recepcion de Banda X en la antena de 7m, e
                    informar a MOC
                </td>
                <td>{{form.a14ckb}}</td>
            </tr>
            <tr>
                <td>15</td>
                <td>TALK</td>
                <td>
                    Cuando la antena se acerque a los 5 grados de elevacion
                    descendente notificar al MOC
                </td>
                <td>{{form.a15ckb}}</td>
            </tr>
            <tr>
                <td>16</td>
                <td>TALK</td>
                <td>
                    Cuando la antena este cerca de LOS de la pasada notificar
                    al MOC
                </td>
                <td>{{form.a16ckb}}</td>
            </tr>           
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>17</td>
                <td>VER</td>
                <td>
                    Verificar que la antena de 7m se va a stow
                </td>
                <td>{{form.a17ckb}}</td>
            </tr>
            <tr>
                <td>18</td>
                <td>VER</td>
                <td>
                    Verificar la generacion y envio de archivos AMD y METEO                    
                </td>
                <td>{{form.a18ckb}}</td>
            </tr>            
            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>