<!DOCTYPE html>
<html>
<head>
    <title>SSAR XBand A13D</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Pasadas de SSAR (X Band) con antena de 13m DATRON</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>Verificar que la pasada este cargada en el "List Activity" del PEC console</td>
                <td>{{form.a01ckb}}</td>
            </tr>
            <tr>
                <td>02</td>
                <td>VER</td>
                <td>Verificar que el TILT sea correcto</td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>
                    Verificar que se ejecuten correctamente las acividades del PEC
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>
            <tr>
                <td>04</td>
                <td>DO</td>
                <td>
                    En el SCC de A13,5m ViaSat cargar la configuracion
                    <b>98 - Cosmo Skymed (DATRON)</b>
                </td>
                <td>{{form.a04ckb}}</td>
            </tr>           
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de los DownConverters de BX:<br>
                    <li> R-XDWCIF01: <b>8095 MHz</b></li>
                    <li> R-XDWCIF02: <b>8260 MHz</b></li>
                </td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de la Matrix de IF (<b>R-IFMTX02</b>):<br>
                    <li>IN: 06 - OUT: 04</li>
                    <li>IN: 02 - OUT: 08</li>
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td>07</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de <b>IF Matrix (SCC window)</b>:<br>
                    <ol type="a"><li>IN: 14 - OUT: 03<br>IN: 14 - OUT: 05</li>
                    <li>IN: 15 - OUT: 04<br>IN: 15 - OUT: 06</li></ol>
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>           
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>
                    Verificar que para el tiempo indicado como AOS 
                    se empiece a mover la antena (Tracking)
                </td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>
                    Verificar que el proceso de grabacion este incrementando
                    en el monitoring console
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>VER</td>
                <td>
                    Verificar en el analizador de espectro que encienda
                    la Banda X antes de que finalice la cuenta regresiva de
                    la adquisicion
                </td>
                <td>{{form.a10ckb}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>VER</td>
                <td>
                    Verificar el estado de lock de los demoduladores SPENG
                </td>
                <td>{{form.a11ckb}}</td>
            </tr>           
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>12</td>
                <td>VER</td>
                <td>
                    Verificar que la antena se va a stow
                </td>
                <td>{{form.a12ckb}}</td>
            </tr>
            <tr>
                <td>13</td>
                <td>VER</td>
                <td>
                    Completar la hoja de ruta de la pasada
                </td>
                <td>{{form.a13ckb}}</td>
            </tr>            
            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>