<!DOCTYPE html>
<html>
<head>
    <title>SSAR TTyC A13D</title>
    <style>
        table, th, td {border: 2px solid black;border-collapse: collapse;}
    </style>
</head>
<body>
    <h1>Pasadas de SSAR (TT&C) con antena de 13m DATRON</h1>
    <form action="{% url 'checkguardar' %}" method="POST"> {% csrf_token %}
        <hr>
        Satelite: {{form.satelite}}
        Orbita: {{form.orbita}}
        <hr>
        Operador: {{request.user.username}}
        <hr>       
        <table style="width: 60%;">
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PREPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>01</td>
                <td>VER</td>
                <td>Verificar que la pasada este cargada en el "List Activity" del PEC console</td>
                <td>{{form.a01ckb}}</td>
            </tr>
            <tr>
                <td>02</td>
                <td>VER</td>
                <td>Verificar que el TILT sea correcto</td>
                <td>{{form.a02ckb}}</td>
            </tr>
            <tr>
                <td>03</td>
                <td>VER</td>
                <td>
                    Verificar que los controladores LMP SAR esten levantados y
                    con el monitoreo BaseBand y de STC corriendo
                </td>
                <td>{{form.a03ckb}}</td>
            </tr>
            <tr>
                <td>04</td>
                <td>VER</td>
                <td>
                    Verificar que el ejecutor de los controladores este activado
                </td>
                <td>{{form.a04ckb}}</td>
            </tr>                
            <tr>
                <td>05</td>
                <td>VER</td>
                <td>
                    Verificar que se ejecuten correctamente las acividades del PEC
                </td>
                <td>{{form.a05ckb}}</td>
            </tr>
            <tr>
                <td>06</td>
                <td>VER</td>
                <td>
                    En el SCC de A13,5m verificar que la configuracion sea
                    98 Cosmo Skymed
                </td>
                <td>{{form.a06ckb}}</td>
            </tr>
            <tr>
                <td>07</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de la cadena de RF. Sobre el view
                    correspondiente al IDHS seleccionado para la pasada. <br>
                    <li> Cadena de UpConverter: <b>2053.458 MHz</b></li>
                    <li> Cadena de DownConverter: <b>2230 MHz</b></li>
                </td>
                <td>{{form.a07ckb}}</td>
            </tr>            
            <tr>
                <td>08</td>
                <td>VER</td>
                <td>
                    Verificar que aproximadamente 3 minutos antes del AOS se levanten los STC
                </td>
                <td>{{form.a08ckb}}</td>
            </tr>
            <tr>
                <td>09</td>
                <td>VER</td>
                <td>
                    Verificar en el LMP de SAR que el CLCW sample se corresponda con el de
                    la contact table
                </td>
                <td>{{form.a09ckb}}</td>
            </tr>
            <tr>
                <td>10</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de la Matrix de Banda S (<b>R-SMTX01</b>):<br>
                    Downlink:<br>
                    <li>RHCP: IN: 01 - OUT: 01</li>
                    <li>LHCP: IN: 04 - OUT: 02</li>
                </td>
                <td>{{form.a10ckb}}</td>
            </tr>
            <tr>
                <td>11</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de la Matrix de Banda S (<b>R-SMTX03</b>):<br>
                    Uplink:<br>
                    <li>IDHS1/IDHS2: IN: 04 - OUT: 03</li>                    
                </td>
                <td>{{form.a11ckb}}</td>
            </tr>
            <tr>
                <td>12</td>
                <td>VER</td>
                <td>
                    Verificar la configuracion de IF Matrix(SCC window):<br>
                    Downlink:<br>
                    <li>RHCP: IN: 11 - OUT: 11</li>
                    <li>LHCP: IN: 12 - OUT: 12</li>
                    Uplink:<br>
                    <li>IDHS1: IN: 07 - OUT: 15 o IDHS2: IN: 09 - OUT: 15</li>                     
                </td>
                <td>{{form.a12ckb}}</td>
            </tr>
            <tr>
                <td>13</td>
                <td>VER</td>
                <td>
                    Verificar el preposicionamiento de la antena, segun azimut
                    y elevacion inicial
                </td>
                <td>{{form.a13ckb}}</td>
            </tr>
            <tr>
                <td>14</td>
                <td>DO</td>
                <td>
                    Llamar al numero 522 sobre el telefono IP del Islote de Operaciones
                </td>
                <td>{{form.a14ckb}}</td>
            </tr>
            <tr>
                <td>15</td>
                <td>DO</td>
                <td>
                    Informar al GSN la cadena configurada <br>
                    Voice Loop: "<b>Fucino, the IDHS X(X=1 o X=2) is online</b>" [Ref.01]
                </td>
                <td>{{form.a15ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE PASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>16</td>
                <td>VER</td>
                <td>
                    Verificar y notificar el AOS (Adquisition Of Signal).<br>
                    "<b>Fucino, we are in AOS</b>"
                </td>
                <td>{{form.a16ckb}}</td>
            </tr>
            <tr>
                <td>17</td>
                <td>VER</td>
                <td>
                    Verificar el encendido del carrier y proceso de Sweeping
                </td>
                <td>{{form.a17ckb}}</td>
            </tr>
            <tr>
                <td>18</td>
                <td>VER</td>
                <td>
                    Verificar que la modulacion este encendida
                </td>
                <td>{{form.a18ckb}}</td>
            </tr>
            <tr>
                <td>19</td>
                <td>VER</td>
                <td>
                    Verificar el final del proceso de Sweeping (Return to Zero)
                    y el CLCW lock
                </td>
                <td>{{form.a19ckb}}</td>
            </tr>
            <tr>
                <td>20</td>
                <td>DO</td>
                <td>
                    Informar a GSN el estado de CLCW locked<br>
                    Voice Loop "<b>Fucino, the CLCW is Locked</b>"
                </td>
                <td>{{form.a20ckb}}</td>
            </tr>
            <tr>
                <td>21</td>
                <td>VER</td>
                <td>
                    Cerca de los 5 grados descendentes verificar el apagado del carrier
                </td>
                <td>{{form.a21ckb}}</td>
            </tr>
            <tr>
                <td>22</td>
                <td>DO</td>
                <td>
                    Verificar y Notificar el LOS (Loss Of Signal)<br>
                    Voice Loop "<b>Fucino, we are in LOS</b>"
                </td>
                <td>{{form.a22ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>ACTIVIDADES DE POSTPASADA</th>
                <td></td>
            </tr>
            <tr>
                <td>23</td>
                <td>VER</td>
                <td>
                    Verificar la generacion de la telemetria offline
                </td>
                <td>{{form.a23ckb}}</td>
            </tr>
            <tr>
                <td>24</td>
                <td>VER</td>
                <td>
                    Verificar la transferencia de la telemetria offline
                </td>
                <td>{{form.a24ckb}}</td>
            </tr>
            <tr>
                <td>25</td>
                <td>DO</td>
                <td>
                    Informar a GSN la realizacion de la transferencia de la
                    telemetria offline<br>
                    Voice Loop "<b>Fucino, the data transfer is completed</b>" [Ref.09]
                </td>
                <td>{{form.a25ckb}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>REPORTE DE RESULTADO DEL PROCEDIMIENTO</th>
                <td></td>
            </tr>
        </table>
        <hr>
        <li>
        EXITOSO{{form.exitoso}}
        INCIDENTE{{form.incidente}}
        </li>
        <hr>
        <label for="comentario">Comentarios</label>
        <br>
        {{form.comentario}}
        <hr>
        <button type="submit" value="submit">ENVIAR</button>
    </form>    
</body>
</html>