{% extends 'base.html' %}

{% load static %}

<h2 class="subtitulo">{% block subtitulo %}Pasadas{% endblock %}</h2>
{% block Contenido %}
    
<body>
    
    <nav>
        <a class="boton" href="{% url 'ssar-submenu' %}">SSAR</a>
        <a class="boton" href="{% url 'sar-submenu' %}">SAR</a>
        <a class="boton" href="{% url 'saocom1a-menu' %}">SAOCOM 1A</a>
        <a class="boton" href="{% url 'saocom1b-menu' %}">SAOCOM 1B</a>
        <a class="boton" target="_blank" href="{% url 'metopb' %}">METOP B</a>
        <a class="boton" target="_blank" href="{% url 'metopc' %}">METOP C</a>
        <a class="boton" target="_blank" href="{% url 'aqua' %}">AQUA</a>
        <a class="boton" target="_blank" href="{% url 'terra' %}">TERRA</a>
        <a class="boton" target="_blank" href="{% url 'landsat8' %}">LANDSAT 8</a>
        <a class="boton" target="_blank" href="{% url 'spot6' %}">SPOT 6</a>
        <a class="boton" target="_blank" href="{% url 'spot7' %}">SPOT 7</a>
        <a class="volver" href="{% url 'AVENGER-inicio' %}">VOLVER</a>
        <a class="logout" href="{% url 'AVENGER-logout' %}">LOGOUT</a>
    </nav>
    
</body>
{% endblock %}